<div class="container mx-auto py-8">
  <h1 class="text-3xl font-bold mb-4" *ngIf="!isEditMode">Dodaj Novu Vežbu</h1>
  <h1 class="text-3xl font-bold mb-4" *ngIf="isEditMode">Izmeni Vežbu</h1>

  <form (ngSubmit)="saveExercise()" class="space-y-4">
    <div>
      <label for="name" class="block text-sm font-medium mb-2">Naziv Vežbe</label>
      <input
        type="text"
        id="name"
        [(ngModel)]="exercise.name"
        name="name"
        class="w-full border border-gray-300 rounded px-3 py-2"
        required>
    </div>

    <div>
      <label for="note" class="block text-sm font-medium mb-2">Napomena</label>
      <textarea
        id="note"
        [(ngModel)]="exercise.note"
        name="note"
        class="w-full border border-gray-300 rounded px-3 py-2"
      ></textarea>
    </div>

    <button type="submit" class="bg-green-500 text-white px-4 py-2 rounded">Sačuvaj</button>
    <a routerLink="/exercise" class="bg-gray-500 text-white px-4 py-2 rounded ml-2">Nazad</a>
  </form>
</div>
